<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">
	
<!-- 	<bean id = "springbasic" class = "com.krawler.SpringDemo.SpringBasic.SpringBasicApp"></bean> -->
	<bean id = "quicksort" class = "com.krawler.SpringDemo.SpringBasic.QuickSortAlgo"></bean>
	<bean id = "binarysearch" class = "com.krawler.SpringDemo.SpringBasic.BinarySearchImpl">
		<property name="binarysearch22" ref = "quicksort"></property>
	</bean>
	 
	  


</beans>